/*!CK:975109827!*//*1406541603,*/

.sp_SdjtNx3Dnr7{background-image:url(/rsrc.php/v2/y0/r/zeY7xDbJiEZ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:34px;width:34px}.sp_SdjtNx3Dnr7.sx_8d5e86{width:16px;height:16px;background-position:0 -35px}.sp_SdjtNx3Dnr7.sx_924fad{background-position:0 0}

#bootloader_xV2Az { height: 42px; }
.bootloader_xV2Az { display:block !important; }